name: tests

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: ApeWorX/github-action@v2
        with:
          python-version: '3.10'
      - name: install vyper
        run: pip install git+https://github.com/vyperlang/vyper
      - run: ape compile --force --size
      - run: npm install hardhat
      
      - run: ape test
        timeout-minutes: 10
        env:
          WEB3_ALCHEMY_PROJECT_ID: ${{ secrets.WEB3_ALCHEMY_PROJECT_ID }}
          WEB3_INFURA_PROJECT_ID: ${{ secrets.WEB3_INFURA_PROJECT_ID }}
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}

